<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>
                <p>Building <a href="https://moffatcore.ca">Moffatcore</a> and <a href="https://rentijoy.com">Renitjoy</a></p>
            </li>
            <li class="contact-email">
                ethanmoffat@hey.com
            </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          {%- include social.html -%}
        </div>
      </div>
  
    </div>
  
  </footer>
  