@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&family=Playfair+Display:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dot-separated:before {
    content: ' • ';
    color: #9FA6B2;
    padding: 0;
    margin: 0 12px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F4F5F7;
  font-family: 'Work Sans', 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}